<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Projet_csharp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="bi bi-calcutator-fill-nav-menu" aria-hidden="true"></span> Calculator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="morpion">
                <span class="bi bi-list-morpion-nav-menu" aria-hidden="true"></span> Morpion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quiz">
                <span class="bi bi-question-fill-nav-menu " aria-hidden="true"></span> Quiz
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cardgame">
                <span class="bi d-flex justify-content-center align-items-center" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-club">
                        <path d="M17.28 9.05a5.5 5.5 0 1 0-10.56 0A5.5 5.5 0 1 0 12 17.66a5.5 5.5 0 1 0 5.28-8.6Z"/><path d="M12 17.66L12 22"/>
                    </svg>
                </span> Jeux de Cartes
            </NavLink>
        </div>
    </nav>
</div>