@page "/"

<PageTitle>Projet C# groupe G</PageTitle>

<div class="d-flex justify-content-between flex-column align-items-center">
    <div class="d-flex flex-column align-items-center pt-5">
        <div class="d-flex flex-column align-items-center">
            <h1>Bienvenue sur notre projet C#</h1>
            <p>
                Bienvenue sur notre projet de développement en C#.
                Ce projet comporte quatres applications principales qui démontrent nos compétences en programmation.
            </p>
        </div>
        <div class="w-50 bg-black mb-3" style="height: 1px"></div>
    </div>
    <div class="pt-5 pb-5">
        <div class="d-flex flex-column gap-3">
            <a href="/calculator" class="w-100">
                <div class="btn btn-light shadow w-100">
                    <h3>Calculatrice</h3>
                    <p>
                        Une calculatrice complète permettant d'effectuer des opérations arithmétiques de base comme l'addition, la soustraction, la multiplication et la division.
                    </p>
                </div>
            </a>
            <a href="/morpion" class="w-100">
                <div class="btn btn-light shadow w-100">
                    <h3>Morpion</h3>
                    <p>
                        Un jeu classique de Tic-Tac-Toe (morpion) où deux joueurs s'affrontent en essayant de former une ligne horizontale, verticale ou diagonale de trois symboles identiques.
                    </p>
                </div>
            </a>
            <a href="/weather" class="w-100">
                <div class="btn btn-light shadow w-100">
                    <h3>Météo</h3>
                    <p>
                        Un module météo qui affiche les conditions météorologiques actuelles pour une ville de votre choix, en utilisant des données actualisées via une API externe
                    </p>
                </div>
            </a>
            <a href="/quiz" class="w-100">
                <div class="btn btn-light shadow w-100">
                    <h3>Quiz</h3>
                    <p>
                        Un quiz interactif avec plusieurs questions à choix multiple pour tester vos connaissances sur divers sujets.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <h2 class="">GitHub</h2>
        <div class="w-50 bg-black mb-3" style="height: 1px"></div>
        <div class="d-flex flex-row flex-wrap justify-content-center gap-4">
            <a href="https://github.com/KANTIN-FAGN" class="btn btn-secondary shadow">
                Kantin FAGNIART
            </a>
            <a href="https://github.com/MentalOfCrow" class="btn btn-secondary shadow">
                Hugo BISSERIER
            </a>
            <a href="https://github.com/baluva" class="btn btn-secondary shadow">
                Louey BARBIROU
            </a>
            <a href="https://github.com/rayancarre" class="btn btn-secondary shadow">
                Rayan CARRE
            </a>
            <a href="https://github.com/AbdallahYnov" class="btn btn-secondary shadow">
                Abdallah MERAD
            </a>
        </div>
    </div>
</div>