@page "/"

<PageTitle>Projet c# groupe G</PageTitle>

<div class="d-flex justify-content-center flex-column align-items-center">
    <h1>Bienvenue sur notre projet C#</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="">GitHub</h2>
        <div class="w-100 bg-black mb-3" style="height: 1px"></div>
        <div class="d-flex gap-4">
            <a href="https://github.com/KANTIN-FAGN" class="btn btn-secondary">
                Kantin FAGNIART
            </a>
            <a href="https://github.com/MentalOfCrow" class="btn btn-secondary">
                Hugo BISSERIER
            </a>
            <a href="" class="btn btn-secondary">
                Louey BARBIROU
            </a>
            <a href="https://github.com/rayancarre" class="btn btn-secondary">
                Rayan CARRE
            </a>
            <a href="" class="btn btn-secondary">
                Abdallah MERAD
            </a>
        </div>
    </div>
</div>