@page "/weather"
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<button>get data</button>
@
<h3>ville : @dataWeather.name</h3>
<p>lat : @dataWeather.lat</p>
<p>lon : @dataWeather.lon</p>
<p>state : @dataWeather.state</p>

@code {
    public DataWeather dataWeather;
    private string API_KEY = "e26c89711ed56d28ae9a6b0ac3506030";


    public class DataWeather
    {
        public string name { get; set; }
        public float lat { get; set; }
        public float lon { get; set; }
        public string state { get; set; }
    }

}